//@import "node_modules/bootstrap/scss/bootstrap";
//@import "bootstrap";
@import "~bootstrap/scss/bootstrap";

$fmb-size : 42px;
$fmb-color:('light':$blue,'dark':$gray-500);
$fmb-bg:('light':$light,'dark':$dark);
$fmb-color-hover:('light':$blue,'dark':$gray-300);
$fmb-bg-hover:('light':$gray-200,'dark':$gray-700);
$fmb-color-select:('light':$yellow,'dark':$yellow);
$fmb-bg-select:('light':$green,'dark':$green);

$fmb-border:('light':$gray-300,'dark':$secondary);

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

@each $theme in ('light','dark'){
    .fmb-tree-#{$theme}{
        @include noselect();
        box-sizing: border-box;
        background-color: map-get($fmb-bg,#{$theme});
    
        .tree-off{
            width: $fmb-size;    
        }
        .tree-caption{
            min-height: $fmb-size;
            line-height: $fmb-size;
            color:map-get($fmb-color,#{$theme});
            border-bottom: 1px solid map-get($fmb-border,#{$theme});
            &:hover {     
                color:map-get($fmb-color-hover,#{$theme});
                background-color: map-get($fmb-bg-hover,#{$theme});
            }
        }
        .tree-caption-select{
            color:map-get($fmb-color-select,#{$theme}) !important;
            background-color: map-get($fmb-bg-select,#{$theme}) !important;
        }

    }           
}