
@import './tree-mixin.scss'; 
.tree{
    @include tree-mixin(
        $size: 32px,
        $border:#37373D,
        $hover-bg: #37373D,
        //$hover-color:rgb(255, 255, 255),
        $select-bg:#0E639C,
        $select-color:white
      
    );
}