
.tree{
    box-sizing: border-box;

    //border: 1px solid red;
    overflow: hidden;
    .tree-item{
        cursor: pointer;
        border-bottom: 1px solid blue;

        min-height: 32px;
        line-height: 32px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        &:hover{
            background-color: rgb(235, 235, 235);
        }
        .tree-level{
            min-width: 32px;
            width: 32px;
            //border: 1px solid orange;
        }
        .tree-caption{
            flex: 1 1 auto;
            //border: 1px dashed green;
        }
    }
    .tree-node{
       

    }
}
.tree-item-select{
    background-color: blue !important;
    color:white !important;
}