@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.tree{
    box-sizing: border-box;

    //border: 1px solid red;
    overflow: hidden;
    .tree-item{
        @include noselect();
        cursor: pointer;
        border-bottom: 1px solid gray;

        min-height: 32px;
        line-height: 32px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        &:hover{
            background-color: rgb(61, 61, 61);
        }
        .tree-level{
            min-width: 32px;
            width: 32px;
            //border: 1px solid orange;
        }
        .tree-caption{
            flex: 1 1 auto;
            //border: 1px dashed green;
        }
        .tree-icon{
            max-width: 32px !important;
            width: 32px !important;
            height: 100% !important;
            text-align: center;
            
        }
    }
    .tree-node{
       

    }
    
    .tree-item-select{
        background-color: #1A73E8 !important;
        color:white !important;
    }
}
