@use "sass:meta";
@mixin tree-mixin($args...){
    $size:32px;
    $border:silver;
    $hover-bg:silver;
    $hover-color:'none';
    $select-bg:#0E639C;    
    $select-color:white;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='size'){$size:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='hover-bg'){$hover-bg:$mean;};
        @if ($name=='hover-color'){$hover-color:$mean;};
        @if ($name=='select-bg'){$select-bg:$mean;};
        @if ($name=='select-color'){$select-color:$mean;};
    }
    

    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height:100%;

    .tree-item{

        -webkit-touch-callout: none;    /* iOS Safari */
        -webkit-user-select: none;      /* Safari */
        -khtml-user-select: none;       /* Konqueror HTML */
        -moz-user-select: none;         /* Old versions of Firefox */
        -ms-user-select: none;          /* Internet Explorer/Edge */
        user-select: none;              /* Non-prefixed version, currently*/


        cursor: pointer;
        @if $border!='none'{
            border-bottom: 1px solid $border;
        } @else {
            border-bottom: 1px solid rgba(0,0,0,0);
        }

        min-height: $size;
        line-height: $size;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        &:hover{
            @if $hover-bg!='none' {
                background-color: $hover-bg;
            }
            @if $hover-color!='none' {
                color:$hover-color;
            }
        }

        .tree-level{
            min-width: $size;
            width: $size;
        }

        .tree-caption{
            flex: 1 1 auto;
            overflow: hidden;
            white-space: nowrap;
        }

        .tree-icon{
            min-width: $size !important;
            width: $size !important;
            height: 100% !important;
            text-align: center;
        }
    }
    
    .tree-item-select{
        @if $select-bg!='none' {
            background-color: $select-bg ;
        }

        @if $select-color!='none' {
            color:$select-color ;
        }

        &:hover{
            @if $select-bg!='none' {
                background-color: $select-bg ;
            }
            @if $select-color!='none' {
                color:$select-color ;
            }
        }
    }
}
