.fmb-tree-light {
	-webkit-touch-callout: none;
  /* iOS Safari */
	-webkit-user-select: none;
  /* Safari */
	-khtml-user-select: none;
  /* Konqueror HTML */
	-moz-user-select: none;
  /* Old versions of Firefox */
	-ms-user-select: none;
  /* Internet Explorer/Edge */
	user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
	box-sizing: border-box;
	background-color: #f8f9fa;
}

.fmb-tree-light .tree-off {
	width: 48px;
	text-align: center;
}

.fmb-tree-light .tree-caption {
	min-height: 48px;
	line-height: 48px;
	color: #007bff;
	border-bottom: 1px solid #dee2e6;
}

.fmb-tree-light .tree-caption:hover {
	color: #007bff;
	background-color: #e9ecef;
}

.fmb-tree-light .tree-caption-select {
	color: #f8f9fa !important;
	background-color: #007bff !important;
}

.fmb-tree-dark {
	-webkit-touch-callout: none;
  /* iOS Safari */
	-webkit-user-select: none;
  /* Safari */
	-khtml-user-select: none;
  /* Konqueror HTML */
	-moz-user-select: none;
  /* Old versions of Firefox */
	-ms-user-select: none;
  /* Internet Explorer/Edge */
	user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
	box-sizing: border-box;
	background-color: #343a40;
}

.fmb-tree-dark .tree-off {
	width: 48px;
	text-align: center;
}

.fmb-tree-dark .tree-caption {
	min-height: 48px;
	line-height: 48px;
	color: #adb5bd;
	border-bottom: 1px solid #6c757d;
}

.fmb-tree-dark .tree-caption:hover {
	color: #dee2e6;
	background-color: #495057;
}

.fmb-tree-dark .tree-caption-select {
	color: #ffc107 !important;
	background-color: #495057 !important;
}

@media (min-width: 576px) {
	.fmb-tree-light .tree-off {
		width: 32px;
	}

	.fmb-tree-light .tree-caption {
		min-height: 32px;
		line-height: 32px;
	}

	.fmb-tree-dark .tree-off {
		width: 32px;
	}

	.fmb-tree-dark .tree-caption {
		min-height: 32px;
		line-height: 32px;
	}
}